<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:include="~{fragments/head}"></head>

<body>
<div class="container">
    <div class="row rounded">
        <div class="col-12">
            <nav th:include="~{fragments/navigation}"></nav>

        </div>
    </div>
    <!-- row -->
    <div class="row tm-mt-big justify-content-center ">
        <div class="col-xl-8 col-lg-10 col-md-12 col-sm-12 ">
            <div class="bg-secondary tm-block">
                <div class="row">
                    <div class="col-12">
                        <h1 class="tm-block-title d-inline-block text-white">Add or change category to customer</h1>
                    </div>
                </div>
                <div class="row mt-4 tm-edit-product-row">
                    <div class="col-xl-7 col-lg-7 col-md-12">
                        <form action="/roles/add" method="POST"
                              class="tm-edit-product-form">
                            <div class="input-group mb-3">
                                <label for="username"
                                       class="col-xl-4 col-lg-4 col-md-4 col-sm-5 col-form-label text-white">Customers</label>
                                <select class="custom-select col-xl-9 col-lg-8 col-md-8 col-sm-7" id="username"
                                        name="username">
                                    <option value="" selected>Select customer</option>

                                    <option th:each="n : ${names}" th:text="${n}" th:value="${n}">Pesho</option>


                                </select>
                            </div>
                            <div class="input-group mb-3">
                                <label class="col-xl-4 col-lg-4 col-md-4 col-sm-5 col-form-label text-white">Customer categories</label>
                                <div>
                                    <input checked type="radio" id="admin" name="role" value="admin">
                                    <label class="admin text-white" for="admin">Admin</label><br/>
                                    <input type="radio" id="receptionist" name="role" value="receptionist">
                                    <label class="receptionist text-white" for="receptionist">Receptionist</label><br/>
                                    <input type="radio" id="therapist" name="role" value="therapist">
                                    <label class="therapist text-white" for="therapist">Therapist</label><br/>
                                    <input type="radio" id="doctor" name="role" value="doctor">
                                    <label class="doctor text-white" for="doctor">Doctor</label><br/>
                                </div>
                            </div>

                            <div class="input-group mb-3">
                                <div class="input-group mt-3">
                                    <button type="submit" class="btn btn-primary d-inline-block mx-auto bg-light">Add
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="col-xl-4 col-lg-4 col-md-12 mx-auto mb-4">
                        <img src="/img/ADMIN2.jpg" alt="Exercise picture" width="100%" >
                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer th:include="~{fragments/footer}"></footer>
</div>

</body>

</html>