<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<th:block th:include="~{fragments/head}"></th:block>

<body>
<div class="container ">
    <nav th:include="~{fragments/navigation}"></nav>
    <div class="container mt-lg-5 border-right border-bottom border-top bg-transparent h-100">
        <h1 class="w-100 text-secondary text-right">Client Register</h1>
    </div>
    <div class="row tm-mt-big">
        <div class="col-12 mx-auto tm-login-col">
            <div class="bg-secondary tm-block">
                <div class="row mt-2">
                    <div class="col-12">
                        <form  action="/customers/add" method="POST" th:object="${customerRegisterBindingModel}" class="tm-login-form">

                            <div class="input-group">
                                <label for="firstName" class="col-xl-4 col-lg-4 col-md-4 col-sm-5 col-form-label text-white">First Name</label>
                                <input th:field="*{firstName}" th:errorclass="bg-warning" name="username" type="text" class="form-control validate col-xl-9 col-lg-8 col-md-8 col-sm-7"
                                       id="firstName" placeholder="Enter First Name">
                                <div class="mx-auto">
                                    <small th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}" class="text-warning">Firts name must be between 3 and 20 characters</small>
                                </div>
                            </div>

                            <div class="input-group mt-3">
                                <label for="lastName" class="col-xl-4 col-lg-4 col-md-4 col-sm-5 col-form-label text-white">Last Name</label>
                                <input th:field="*{lastName}" th:errorclass="bg-warning" name="lastName" type="text" class="form-control validate"
                                       id="lastName" placeholder="Enter Last Name">
                                <div class="mx-auto">
                                    <small th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}" class="text-warning">Last name must be betweeen 3 and 10 characters</small>
                                </div>
                            </div>

                            <div class="input-group mt-3">
                                <label for="email" class="col-xl-4 col-lg-4 col-md-4 col-sm-5 col-form-label text-white">Email</label>
                                <input th:field="*{email}" th:errorclass="bg-warning" name="email" type="email" class="form-control validate" id="email" placeholder="Enter email">

                            </div>
                            <div class="mx-auto text-center">
                                <small th:if="${#fields.hasErrors('email')}" th:errors="*{email}" class="text-danger">Enter valid email address</small>
                            </div>

                            <div class="input-group mt-3">
                                <label for="phoneNumber" class="col-xl-4 col-lg-4 col-md-4 col-sm-5 col-form-label text-white">Phone number</label>
                                <input th:field="*{phoneNumber}" th:errorclass="bg-warning" name="phoneNumber" type="text" class="form-control validate"
                                       id="phoneNumber" placeholder="Enter Phone Number">
                                <div class="mx-auto">
                                    <small th:if="${#fields.hasErrors('phoneNumber')}" th:errors="*{phoneNumber}" class="text-warning">Phone number must be betweeen 3 and 10 characters</small>
                                </div>
                            </div>

                            <div class="input-group mt-3">
                                <button type="submit" class="btn btn-primary d-inline-block mx-auto bg-light ">Register</button>
                            </div>

                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
<footer th:include="~{fragments/footer}"></footer>
</body>

</html>