<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:include="~{fragments/head}"></head>

<body>
<div class="container ">
    <div class="" id="home">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <nav th:include="~{fragments/navigation}"></nav>
                </div>
            </div>
        </div>
    </div>
    <div class="row tm-mt-big">
        <div class="col-12 mx-auto tm-login-col">
            <div class="bg-secondary tm-block">
                <div class="row mt-2">
                    <div class="col-12">
                        <form method="POST"
                              th:action="@{/users/login}"
                              th:object="${loginBindingModel}"
                              class="tm-login-form">
                            <hr/>
                            <div class="input-group">
                                <label for="username"
                                       class="col-xl-4 col-lg-4 col-md-4 col-sm-5 col-form-label text-white">Username</label>
                                <input th:field="*{username}" th:errorclass="bg-warning" name="username" type="text"
                                       class="form-control validate col-xl-9 col-lg-8 col-md-8 col-sm-7"
                                       id="username" placeholder="Enter username" required>
                            </div>
                            <div class="input-group mt-3">
                                <label for="password"
                                       class="col-xl-4 col-lg-4 col-md-4 col-sm-5 col-form-label text-white">Password</label>
                                <input th:field="*{password}" th:errorclass="bg-warning" name="password" type="password"
                                       class="form-control validate"
                                       id="password" placeholder="Enter password" required>
                            </div>
                            <div class="input-group mt-3">
                                <button type="submit" class="btn btn-primary d-inline-block mx-auto bg-light">Login
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer th:include="~{fragments/footer}"></footer>
</div>

</body>

</html>